<a href="/">VOLTAR</a>
<p><%= info %> </p>
<form method="POST">
    <input type="text" name="nome" placeholder="nome">
    <input type="text" name="preco"placeholder="preco">
    <input type="text" name="ingredientes"placeholder="ingredientes">
    <input type="text" name="logo"placeholder="logo">
    <input type="submit" value="Enviar">
</form>